.content-y {
    height: 40px;
    margin: 0px 25px 20px;
}

.table {
    padding: 25px;
}

th {
    text-align: center;
}

.view{
    border: 0px;
    background-color: #f8f8f8;
    border-radius: 50%;
}