<div id="login" [style.background-image]="'url(assets/images/bg.jpg)' " style="height: 100%;">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" [formGroup]="formLogin" (ngSubmit)="onLogin()">
                        <!-- <div class="login-form" class="form" style="padding:35px 20px;"> -->
                        <h3 class="text-center text-in-fo" style="position: relative;color: black;">Đăng nhập</h3>
                        <div class="form-group">
                            <label for="username" class="text-in-fo"
                                style="position: relative; color: black;">Username:</label><br>
                            <input type="text" name="user-name" formControlName="username" id="user-name"
                                class="form-control">
                            <div class="alert alert-danger" role="alert"
                                *ngIf="formLogin.controls.username?.errors?.required && formLogin.controls.username?.touched">
                                Tài khoản không được để trống!
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-in-fo"
                                style="position: relative; color: black;">Password:</label><br>
                            <input type="password" name="pass-word" formControlName="password" id="pass-word"
                                class="form-control">
                            <div class="alert alert-danger" role="alert"
                                *ngIf="formLogin.controls.password?.errors?.required && formLogin.controls.password?.touched">
                                Mật khẩu không được để trống!
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-info btn-md" value="Đăng nhập"
                                style="position: relative; background-color: #3800fa;">
                        </div>
                        <!-- </div> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>